<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <appSettings>
    <add key="HOMEURL" value="https://www.commbank.com.au/" />
    <add key="URL1" value="https://www.my.commbank.com.au/netbank/Logon/Logon.aspx"/>
    <add key ="URL" value="http://www.homeimprovementpages.com.au/"/>
    <add key="ChromeBrowser" value="Chrome" />
    <add key ="FirefoxBrowser" value ="FireFox"/>
    <add key ="IEBrowser" value ="IE"/>
   </appSettings>
<specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow></configuration>